.hidden {
    display: none;
}


body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

/* reset */

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, .contacts {
    display: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    stroke: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;}


.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;}

    
.contacts {
    font-style: normal;
    display: block;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
    display: flex;
    align-items: center;}

.nav-link {
    display: block;
padding: 24px 0;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
position: relative;
}

.nav-link.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current{
    color: #404bbf;}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
}
@media screen and (min-width: 1158px) {

    .header-logo {
    margin-right: 76px;
}

.contact-list {
flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
}

/* mobile-menu */

.mobile-menu {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
line-height: 0%;
width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #e7e9fc;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-nav {
margin-bottom: auto;

}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}

.mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}
.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-social-item{
    display: flex;
    justify-content: space-between;
}

.mobile-social-icon {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
} 
}

/* hero */

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 216px;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;

}

.hero-btn {
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
padding: 16px 32px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding: 112px 0;
    }

    .hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin-bottom: 36px;
}
}

@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        padding: 188px 0;
    }
.hero-title {
margin-bottom: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
.hero-btn {
    cursor:pointer
}
}

/* section2 */

.features-list {
width: 100%;
}

.section-flex {
    max-width: 288px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding: 96px 0;
}

.features-icon {
    display: none;
}

.features-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.features-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width: 768px) {

.features-list {
width: calc((100% - 24px)/2);
}

.section-flex {
    max-width: 736px;
    gap: 72px 24px;
    padding: 96px 0;
}

.features-title {
text-align: left;
}
}

@media screen and (min-width: 1158px) {

.features-list {
width: calc((100% - 24px*3)/4);
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
}

.section-flex {
    max-width: 1128px;
    gap: 24px;
    flex-wrap: nowrap;
    padding: 120px 0;
}

.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.features-text {
font-weight: 400;
}
}

/* section3 */

.ourteam {
background-color: #f4f4fd;
padding: 96px 0;
}

.ourteam-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.ourteam-flex {
width: 100%;
display: flex;
flex-wrap: wrap;
gap: 72px;
justify-content: center;
margin:auto;
}

.ourteam-card-name {
padding: 32px 0;
}

.ourteam-card {
background-color: #fff;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.ourteam-card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.ourteam-card-text {
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
margin-bottom: 8px;
}

.ourteam-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.ourteam-social-icon {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .social-link-icon {
        fill: #f4f4fd;
    }

.social-link:hover,
.social-link:focus
{
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {

    .ourteam-flex {
gap: 64px 24px;
}
}

@media screen and (min-width: 1158px) {
.ourteam {
padding: 120px 0;
}


.ourteam-flex {
    gap: 24px;
    flex-wrap: nowrap;
}

.ourteam-card {
width: calc((100% - 24px*3)/4);
}
}

/* section4 */

.ourportfolio {
padding: 96px 0;
}

@media screen and (max-width: 1158px) {
.overlay {
    display: none;
}
.ourportfolio-card {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
}

.ourportfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.ourportfolio-flex {
display: flex;
flex-wrap: wrap;
gap: 48px;
}

.ourportfolio-card {
width: 288px;

}

.ourportfolio-card-app {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.ourportfolio-card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.ourportfolio-card-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width: 768px) {

.ourportfolio-flex {
    width: 100%;
gap: 72px 24px;
}

.ourportfolio-card {
width: 356px;
}
}

@media screen and (min-width: 1158px) {

.ourportfolio-flex {
width: 100%;
gap: 48px 24px;
margin: auto;
justify-content: center;
}

.ourportfolio-card {
width: calc((100%-48px)/3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-card:hover .overlay {
    transform: translateY(0%);
}

}