
body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #fff;
}

/* reset */

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.section {
    padding: 120px 0;
}


/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
    display: block;
padding: 24px 0;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
position: relative;
}

.nav-link.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current{
    color: #404bbf;}

.contacts {
    font-style: normal;
margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* hero */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;

}

.hero-btn {
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
padding: 16px 32px;
cursor: pointer;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
.hero-btn {
    cursor:pointer
}

/* section2 */
.section-flex {
    display: flex;
    gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
width: calc((100% - 24px*3)/4);
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;

}

.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.features-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* section3 */

.ourteam {
background-color: #f4f4fd;
}

.ourteam-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.ourteam-flex {
display: flex;
gap: 24px;
}

.ourteam-card-name {
padding: 32px 0;
}

.ourteam-card {
background-color: #fff;
width: calc((100% - 24px*3)/4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.ourteam-card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}

.ourteam-card-text {
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
margin-bottom: 8px;
}

.ourteam-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.ourteam-social-icon {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .social-link-icon {
        fill: #f4f4fd;
    }

.social-link:hover,
.social-link:focus
{
    background-color: #404bbf;
}

/* section4 */

.ourportfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.ourportfolio-flex {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.ourportfolio-card {
width: calc((100%-48px)/3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.ourportfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.ourportfolio-card-app {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.ourportfolio-card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.ourportfolio-card-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-card:hover .overlay {
    transform: translateY(0%);
}


.footer-container {
    display: flex;
    align-items: baseline;
}

.page-footer {
background-color: #2e2f42;
padding: 100px 0;
}

.footer-logo {
display: inline-block;
margin-bottom: 16px;
}

.logo-part {
color: #f4f4fd;
}

.pagefuter-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.footer-logo-text {
margin-right: 120px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #ffffff;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-item {
display: flex;
gap: 16px;
}

.footer-social-icon {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-link-icon {
    fill: #f4f4fd;
}

.futer-form {
    margin-left: auto;
}

.futer-form-text {
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.02em;
    margin-bottom: 16px;    
}


.futer-form-subscribe{
    display: flex;
    gap: 24px;
}

.futer-subscribe-input {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
padding-left: 16px;
outline: none;
}

.futer-subscribe-input::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
}

.futer-subscribe-input:hover {
    border: 1px solid #31d0aa;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
border-radius: 4px;
min-width: 165px;
height: 40px;
border: none;
background: #4d5ae5;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}

.send-icon {
    margin-left: 16px;
}

.send-button:hover {
  background-color: #31d0aa;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* backdrop */

.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
z-index: 9999;
visibility: hidden;
opacity: 0;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
visibility: visible;
opacity: 1;
pointer-events: auto;
}

.modal {
width: 408px;
min-height: 584px;
padding: 72px 24px 24px 24px;
background-color: #fcfcfc;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
position: absolute;
top: 24px;
right: 24px;
padding: 0;
line-height: 0%;
width: 24px;
height: 24px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #e7e9fc;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
background-color: #404bbf;
border: none;
fill: #fff;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}



.modal-container-block {
margin-bottom: 8px;

}
.modal-form-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}

.modal-form-input-cont {
position: relative;
margin-bottom: 8px;

}
.modal-form-input {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
padding-left: 38px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover, .modal-form-input:focus {
    border: 1px solid #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
fill:  #4d5ae5;

}

.user-comment {
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-user-text {
    margin-bottom: 16px;
}

.user-comment:focus {
border-color: #4d5ae5;
}

.user-comment::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.modal-form-con-checkbox{
margin-bottom: 24px;
}

.custom-checkbox {
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
display: inline-flex;
justify-content: center;
align-items: center;
background-color: transparent;
margin-right: 8px;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox
.custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;

}

.label-checkbox a {
    line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;

}


.button-submit {
display: block;
border: none;
border-radius: 4px;
min-width: 169px;
height: 56px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
cursor: pointer;
margin-top: 24px;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-submit:hover,
.button-submit:focus {
    background-color: #404bbf;
}
